<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CCTCV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"></link>
    <style>
    	body {
    		font-family: 'Roboto', sans-serif;
    		text-align: center
    	}
    </style>
</head>
<body>
	<h1>CCTCV</h1>
	<i>Closed Circuit Tele-Computer Vision</i>
    <p th:text="'Number of database table rows: ' + ${rows} + ''" />
    <p th:text="'Approximate people in canteen right now: ' + ${canteen} + ''" />
</body>
</html>